<div class="chat_container">
    <section class="add_doc_section">
        <button color="warn" class="add_doc_button" mat-flat-button [routerLink]="['add_doc']">add doc</button>
    </section>
    <section class="chat_section">
        <!-- 채팅 기록을 반복하여 표시하는 섹션 -->
        @for(chat of history; track chat) {
        <!-- 각 채팅 내용을 HTML로 삽입 -->
        <div [innerHTML]="chat"></div>
        }
    </section>

    <form class="input_section" (ngSubmit)="submit()">
        <!-- 회사 이름을 입력받는 입력 필드 -->
        <input class="company_input" placeholder="company" [(ngModel)]="company"
            [ngModelOptions]="{standalone: true}" />

        <!-- 질문을 입력받는 입력 필드 -->
        <input class="question_input" placeholder="question" [(ngModel)]="qustion"
            [ngModelOptions]="{standalone: true}" />

        <!-- 제출 버튼, 대기 중일 경우 비활성화 -->
        <button [disabled]="waiting" type="submit" class="submit_button" mat-icon-button
            color="primary"><mat-icon>send</mat-icon></button>
    </form>

</div>