<div class="chat_container">
    <section class="chat_section">
        @for(chat of history; track chat) {
        <div [innerHTML]="chat"></div>
        }
    </section>
    <form class="input_section" (ngSubmit)="submit()">
        <input class="company_input" placeholder="company" [(ngModel)]="company"
            [ngModelOptions]="{standalone: true}" />
        <input class="question_input" placeholder="question" [(ngModel)]="qustion"
            [ngModelOptions]="{standalone: true}" />
        <button [disabled]="waiting" type="submit" class="submit_button" mat-icon-button
            color="primary"><mat-icon>send</mat-icon></button>
    </form>
</div>